@model GraniteHouse.Models.ViewModel.AppointmentDetailsViewModel
@using GraniteHouse.Extensions
@using GraniteHouse.Utility

@{
    ViewData["Title"] = "Details";
}

<br />
<h2>Appointment Details</h2>
<hr />
<div class="p-4 border rounded row">
    <div class="col-6">

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.CustomerName">Customer Name:</label>
            </div>
            <div class="col-8 form-control">
                @Html.DisplayFor(model => model.Appointment.CustomerName)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.CustomerEmail">Customer Email:</label>
            </div>
            <div class="col-8 form-control">
                @Html.DisplayFor(model => model.Appointment.CustomerEmail)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.AppointmentDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="Appointment.AppointmentDate" readonly id="datepicker" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.CustomerPhoneNumber">Phone Number:</label>
            </div>
            <div class="col-8 form-control">
                @Html.DisplayFor(model => model.Appointment.CustomerPhoneNumber)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.SalesPerson">Sales Person:</label>
            </div>
            <div class="col-8 form-control">
                @if (User.IsInRole(StaticUtility.AdminEndUser))
                {
                    @Html.DisplayFor(model => model.Appointment.SalesPerson.Name)
                    <input asp-for="@Model.Appointment.SalesPersonId" hidden />
                }
                else
                {
                    @Html.DisplayFor(model => model.Appointment.SalesPerson.Name)
                }
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Appointment.IsConfirmed">Is Confirmed: </label>
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.Appointment.IsConfirmed)
            </div>
        </div>

    </div>

    <div class="col-6">
        @* Partial View *@
        <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
    </div>

    <br />
    <div class="form-group">

        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";

            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");
            }
            else {
                splitData = appointmentTime.split("T");
            }

        });
    </script>
}